<div class="inner-content">
  <nz-table #testsTable [nzData]="cypressTests">
    <thead>
      <tr>
        <th>Prueba</th>
        <th>Imagen 1</th>
        <th>Imagen 2</th>
        <th>Diferencias</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of testsTable.data">
        <td style="max-width: 600px">
          <nz-descriptions [nzColumn]="1" nzSize="small" nzBordered>
            <nz-descriptions-item nzTitle="Solicitada por" [nzSpan]="1">{{data.requester}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="id" [nzSpan]="1">{{data._id}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="inicio" [nzSpan]="1">{{data.reporterStats.start | date:'short'}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="duración" [nzSpan]="1">{{data.reporterStats.duration}} ms
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Resumen" [nzSpan]="2">
              <nz-tag [nzColor]="'orange'" *ngIf="data.status === 'in-progress'">En progreso</nz-tag>
              <nz-tag [nzColor]="'red'" *ngIf="data.status === 'failed'">Falló</nz-tag>
              <nz-tag [nzColor]="'green'" *ngIf="data.status === 'success'">Exitosa</nz-tag>

              <nz-badge [nzCount]="data.reporterStats.tests" nzShowZero
                [nzStyle]="getSummaryBackgroundStyle('tests', data)">
                <nz-tag [nzColor]="'#108ee9'">Tests</nz-tag>
              </nz-badge>
              <nz-badge [nzCount]="data.reporterStats.passes" class="summary-badge" nzShowZero
                [nzStyle]="getSummaryBackgroundStyle('passes', data)">
                <nz-tag [nzColor]="'#108ee9'">Passes</nz-tag>
              </nz-badge>
            </nz-descriptions-item>
          </nz-descriptions>
        </td>
        <td>
          <div *ngIf="data.screenshots.length > 0"><img [src]="getPath(data, 0)" class="test-image" /></div>
        </td>
        <td>
          <div *ngIf="data.screenshots.length > 1"><img [src]="getPath(data, 1)" class="test-image" /></div>
        </td>
        <td>
          <div *ngIf="data.resemble"><img [src]="getPath(data, 'diff')" class="test-image"
              (click)="showCarousel(data)" /></div>
          <nz-statistic *ngIf="data.resemble" [nzValue]="data.resemble.rawMisMatchPercentage | number: '1.0-2'"
            [nzTitle]="'Diferencias'" [nzPrefix]="prefixTplTwo" [nzSuffix]="'%'" [nzValueStyle]="{ color: '#CF1322' }">
          </nz-statistic>

        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="isVisible=false" (nzOnOk)="handleOk()"
  [nzWidth]="'800px'">
  <nz-carousel [nzEffect]="'fade'" [nzDotPosition]="'bottom'" nzAutoPlay>
    <div nz-carousel-content *ngFor="let index of images">
      <div>
        <h2>{{index.name}}</h2>
        <img [src]="index.img" class="carousel-image" />
      </div>
    </div>
  </nz-carousel>
</nz-modal>