.inner-content {
  padding: 14px;
  background: #fff;
  min-height: 100%;
}

.summary-badge {
  padding-left: 20px;
}

.test-image {
  width: 100%;
  max-width: 200px;
}

.carousel-image {
  width: 100%;
}

.carousel-footer {
  width: 100%;
  height: 30px;
  background-color: #2db7f5;
}

[nz-carousel-content] {
  text-align: center;
}
