<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/list">Tests</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-page-header [nzBackIcon]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (nzBack)="isCollapsed = !isCollapsed">

      <nz-page-header-title *ngIf="loadingStatus === 'found'">Última prueba</nz-page-header-title>
      <nz-page-header-title *ngIf="loadingStatus === 'not-found'">No hay pruebas</nz-page-header-title>
      <nz-page-header-title *ngIf="loadingStatus === 'loading'">Cargando última prueba...</nz-page-header-title>
      <nz-page-header-title *ngIf="loadingStatus === 'executing-test'">Ejecutando una nueva prueba...</nz-page-header-title>

      <nz-page-header-subtitle *ngIf="loadingStatus === 'found'">{{getTimeFromLastTest()}}
      </nz-page-header-subtitle>
      <nz-page-header-tags *ngIf="found && lastTest">
        <nz-tag [nzColor]="'orange'" *ngIf="lastTest.status === 'in-progress'">En progreso</nz-tag>
        <nz-tag [nzColor]="'red'" *ngIf="lastTest.status === 'failed'">Falló</nz-tag>
        <nz-tag [nzColor]="'green'" *ngIf="lastTest.status === 'success'">Exitosa</nz-tag>
      </nz-page-header-tags>
      <nz-page-header-extra>
        <button nz-button nzType="primary" (click)="showConfirm()"><i nz-icon nzType="plus" nzTheme="outline"></i>Nueva
          prueba</button>
      </nz-page-header-extra>
      <nz-page-header-content>
        <div nz-row nzAlign="middle" *ngIf="loadingStatus === 'executing-test'">
            <div nz-col nzSpan="6" style="text-align: center">
              <nz-progress [nzPercent]="newTestProgress" nzType="circle" [nzStatus]="newTestStatus"></nz-progress>
            </div>
          <div nz-col nzSpan="18">
            <nz-skeleton [nzActive]="true" rows="2"></nz-skeleton>
          </div>
        </div>
        <nz-skeleton [nzActive]="true" *ngIf="loadingStatus === 'loading'"></nz-skeleton>
        <nz-alert nzBanner nzType="info" *ngIf="loadingStatus === 'not-found'"
          nzMessage="No hemos encontrado ninguna prueba, empieza creando una!"></nz-alert>
        <div class="wrap" *ngIf="loadingStatus === 'found' && lastTest">
          <div nz-row class="content padding">
            <nz-descriptions [nzColumn]="2">
              <nz-descriptions-item nzTitle="Solicitada por" [nzSpan]="1">{{lastTest.requester}}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="identificador" [nzSpan]="1"><a>{{lastTest._id}}</a></nz-descriptions-item>
              <nz-descriptions-item nzTitle="Inicio" [nzSpan]="1">{{lastTest.reporterStats.start | date:'medium'}}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Fin" [nzSpan]="1">{{lastTest.reporterStats.end | date:'medium'}}
              </nz-descriptions-item>
              <nz-descriptions-item nzTitle="Duración de la prueba" [nzSpan]="1">{{lastTest.reporterStats.duration}}
                milisegundos</nz-descriptions-item>
              <nz-descriptions-item nzTitle="Resumen" [nzSpan]="2">
                <nz-badge [nzCount]="lastTest.reporterStats.suites" class="summary-badge" nzShowZero
                  [nzStyle]="getSummaryBackgroundStyle('suites')">
                  <nz-tag [nzColor]="'#108ee9'">Suites</nz-tag>
                </nz-badge>
                <nz-badge [nzCount]="lastTest.reporterStats.tests" class="summary-badge" nzShowZero
                  [nzStyle]="getSummaryBackgroundStyle('tests')">
                  <nz-tag [nzColor]="'#108ee9'">Tests</nz-tag>
                </nz-badge>
                <nz-badge [nzCount]="lastTest.reporterStats.passes" class="summary-badge" nzShowZero
                  [nzStyle]="getSummaryBackgroundStyle('passes')">
                  <nz-tag [nzColor]="'#108ee9'">Passes</nz-tag>
                </nz-badge>
                <nz-badge [nzCount]="lastTest.reporterStats.pending" class="summary-badge" nzShowZero
                  [nzStyle]="getSummaryBackgroundStyle('pending')">
                  <nz-tag [nzColor]="'#108ee9'">Pending</nz-tag>
                </nz-badge>
                <nz-badge [nzCount]="lastTest.reporterStats.failures" class="summary-badge" nzShowZero
                  [nzStyle]="getSummaryBackgroundStyle('failures')">
                  <nz-tag [nzColor]="'#108ee9'">Failures</nz-tag>
                </nz-badge>
              </nz-descriptions-item>
            </nz-descriptions>
          </div>

        </div>
      </nz-page-header-content>
      <nz-page-header-footer>
      </nz-page-header-footer>
    </nz-page-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>